*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest.toml
!/binder/Manifest.toml
attic/
/.vscode/
/docs/build/
/docs/.CondaPkg/
/docs/LocalPreferences.toml
/docs/src/generated/
/docs/src/democards/
/docs/src/examples/
/full/Project.toml
.CondaPkg/
LocalPreferences.toml
